  <!-- Confinement Modal-->
  <div class="modal fade" id="confinementModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Règles du confinement</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <strong> déplacements sont interdits sauf dans les cas suivants et uniquement à condition d'être munis d'une attestation</strong> pour :

          <br />

          <ul>
            <li>Se déplacer de son domicile à son lieu de travail dès lors que le télétravail n’est pas possible ;</li>
            <li>Faire ses achats de première nécessité dans les commerces de proximité autorisés ;</li>
            <li>Se rendre auprès d’un professionnel de santé ;</li>
            <li>Se déplacer pour la garde de ses enfants ou pour aider les personnes vulnérables à la stricte condition de respecter les gestes barrières ;</li>
            <li>Faire de l’exercice physique uniquement à titre individuel, autour du domicile et sans aucun rassemblement.        </li>
          </ul>

          <strong>Les deux documents nécessaires pour circuler sont disponibles :</strong>

          <ul>
            <li><strong>l'attestation individuelle</strong>, à télécharger ou à reproduire sur papier libre. Elle doit être remplie pour chaque déplacement non professionnel ;</li>
            <li><strong>l'attestation de l'employeur</strong>, Elle est valable pendant toute la durée des mesures de confinement et n’a donc pas à être renouvelée tous les jours.</li>
          </ul>
        
          <div class="alert alert-success">
            Pour participer à la lutte contre le covid-19 faite un don à notre équipe (Bénévole à la protection civil et étudiant en pharmacie)
            <hr>
            <button class="btn btn-success">Faire un don</button>
          </div>

        </div>
        <div class="modal-footer">

          <a class="btn btn-dark shadow" href="https://www.gouvernement.fr/sites/default/files/contenu/piece-jointe/2020/03/attestation_de_deplacement_derogatoire.pdf" target="_blank">
              Attestation individuel
              <i class="fas fa-download"></i>
          </a>
        </div>
      </div>
    </div>
  </div>