<link rel="stylesheet" href="css/flipclock.css">
<script src="js/flipclock.min.js"></script>



<div class="jumbotron">

	<p class="lead">

        <!-- QUESTION 1 -->
        <div id="q1">

            <h2>Quel est vôtre tranche d'âge ?</h2>
            
            <div class="quiz" id="q1" data-toggle="buttons">
                <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                    <input type="radio" name="q1_answer" value="30">30 ans et moins</label>
                <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                    <input type="radio" name="q1_answer" value="30_60">Entre <strong>30 et 60</strong> ans</label>
                <label class="element-animation3 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                    <input type="radio" name="q1_answer" value="65">65ans et plus</label>
            </div>

        </div>

        <!-- QUESTION 2 -->
        <div id="q2">

            <h2>Est-ce que vous toussez ?</h2>
            
            <div class="quiz" id="q2" data-toggle="buttons">
                <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                    <input type="radio" name="q2_answer" value="oui">Oui</label>
                <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                    <input type="radio" name="q2_answer" value="non">Non</label>
            </div>

        </div>

        <!-- QUESTION 3 -->
        <div id="q3">

            <h2>Avez-vous des difficultés à respirer ?</h2>
            
            <div class="quiz" id="q3" data-toggle="buttons">
                <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                    <input type="radio" name="q3_answer" value="oui">Oui</label>
                <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                    <input type="radio" name="q3_answer" value="non">Non</label>
            </div>

        </div>

        <!-- QUESTION 4 -->
        <div id="q4">

            <h2>Avez-vous de la fièvre ?</h2>
            
            <div class="quiz" id="q4" data-toggle="buttons">
                <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                    <input type="radio" name="q4_answer" value="oui">Oui</label>
                <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                    <input type="radio" name="q4_answer" value="non">Non</label>
            </div>

        </div>

        <!-- QUESTION 5 -->
        <div id="q5">

            <h2>Avez-vous mal à la gorge ?</h2>
            
            <div class="quiz" id="q5" data-toggle="buttons">
                <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                    <input type="radio" name="q5_answer" value="oui">Oui</label>
                <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                    <input type="radio" name="q5_answer" value="non">Non</label>
            </div>

        </div>

        <!-- QUESTION 6 -->
        <div id="q6">

            <h2>Avez-vous des courbatures en dehors des douleurs musculaires liées à une activité sportive intense ?</h2>
            
            <div class="quiz" id="q6" data-toggle="buttons">
                <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                    <input type="radio" name="q6_answer" value="oui">Oui</label>
                <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                    <input type="radio" name="q6_answer" value="non">Non</label>
            </div>

        </div>

        <!-- QUESTION 7 -->
        <div id="q7">

            <h2>Avez-vous la diarrhée ?</h2>

            <p>
                Avoir la diarrhée signifie émettre au moins 3 selles molles ou <br />
                liquides par jour ou à une fréquence (c’est à dire un nombre de <br /> fois pour une période de temps) anormale pour la personne.
            </p>
            
            <div class="quiz" id="q7" data-toggle="buttons">
                <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                    <input type="radio" name="q7_answer" value="oui">Oui</label>
                <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                    <input type="radio" name="q7_answer" value="non">Non</label>
            </div>

        </div>

        <!-- QUESTION 8 -->
        <div id="q8">

            <h2>Êtes vous en situation d'obésité morbide (IMC>40) ?</h2>
            
            <div class="quiz" id="q8" data-toggle="buttons">
                <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                    <input type="radio" name="q8_answer" value="oui">Oui</label>
                <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                    <input type="radio" name="q8_answer" value="non">Non</label>
            </div>

            <div id="q8_2">
                <p>
                    <label for="q8_taille">Taille en cm.</label>
                    <input type="text" id="q8_taille">
                </p>
                <p>
                    <label for="q8_poids">Poids en kg.</label>
                    <input type="text" id="q8_poids">
                </p>
            </div>

        </div>

        <!-- QUESTION 9 -->
        <div id="q9">

            <h2>Avez vous été en contact étroit avec un cas confirmé de Covid-19 ?</h2>
            
            <div class="quiz" id="q9" data-toggle="buttons">
                <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                    <input type="radio" name="q9_answer" value="oui">Oui</label>
                <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                    <input type="radio" name="q9_answer" value="non">Non</label>
            </div>

        </div>

        <!-- QUESTION 10 -->
        <div id="q10">

            <h2>Avez-vous séjourné lors des 14 derniers jours dans les zones suivantes ?</h2>

            <p class="text-center">
                <img class="col-lg-4" src="images/france_danger.jpg" />
                <img class="col-lg-4" src="images/etranger_danger.jpg">
            </p>
            
            <div class="quiz" id="q10" data-toggle="buttons">
                <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                    <input type="radio" name="q10_answer" value="oui">Oui</label>
                <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                    <input type="radio" name="q10_answer" value="non">Non</label>
            </div>

        </div>

        <div id="final">
            finis
        </div>

	</p>

	<hr class="my-4">

	<p class="lead">
		<button class="btn btn-success btn-lg" id="submit">Suivant !</button>
	</p>
</div>

<script>

    $(() => {

        let nbQuestion = 6;
        let round = 1;

        let answer = {}

        function init() {
            $('#q2').hide();
            $('#q3').hide();
            $('#q4').hide();
            $('#q5').hide();
            $('#q6').hide();
            $('#q7').hide();
            $('#q8').hide();
            $('#q9').hide();
            $('#q10').hide();
        }

        init();

        $('#submit').click((e) => {
            e.preventDefault();
            if(round == 1) {
                round++;
                answer.q1 = $('input:radio[name=q1_answer]').val();
                $('#q1').fadeOut(200, () => {
                    $('#q2').fadeIn();
                });
            } else if(round == 2) {
                round++;
                answer.q2 = $('#q2_answer').val();
                $('#q2').fadeOut(200, () => {
                    $('#q3').fadeIn();
                });
            } else if(round == 3) {
                round++;
                answer.q3 = $('#q3_answer').val();
                $('#q3').fadeOut(200, () => {
                    $('#q4').fadeIn();
                });
            } else if(round == 4) { // TEMPERATURE
                round++;
                answer.q4 = $('#q4_answer').val();
                $('#q4').fadeOut(200, () => {
                    $('#q5').fadeIn();
                });
            } else if(round == 5) {
                round++;
                answer.q5 = $('#q5_answer').val();
                $('#q5').fadeOut(200, () => {
                    $('#q6').fadeIn();
                });
            } else if(round == 6) { // TEMPERATURE
                round++;
                answer.q6 = $('#q6_answer').val();
                $('#q6').fadeOut(200, () => {
                    $('#q7').fadeIn();
                });
            } else if(round == 7) { // TEMPERATURE
                round++;
                answer.q7 = $('#q7_answer').val();
                $('#q7').fadeOut(200, () => {
                    $('#q8').fadeIn();
                });
            } else if(round == 8) { // TEMPERATURE
                round++;
                answer.q8 = $('#q8_answer').val();
                $('#q8').fadeOut(200, () => {
                    $('#q9').fadeIn();
                });
            } else if(round == 9) { // TEMPERATURE
                round++;
                answer.q9 = $('#q9_answer').val();
                $('#q9').fadeOut(200, () => {
                    $('#q10').fadeIn();
                });
            } else if(round == 10) { // TEMPERATURE
                round++;
                answer.q10 = $('#q10_answer').val();
                $('#q10').fadeOut(200, () => {
                    $('#final').fadeIn();
                });
            }

            console.log(answer)

        })

    });

</script>

<link rel="stylesheet" href="css/quiz.css">