<div class="alert alert-danger shadow">
  <h2 class="text-center"><span id="timerConfinement"></span></h2>
  <hr>
  <h5 class="text-center">Avant la fin du confinement</h5>

</div>
<!-- <h5 class="text-center text-xs font-weight-light">Informations mise à jours le <span id="update"></span></h5> -->
<!-- Page Heading -->
<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Statistique du COVID-19 en France</h1>
  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
      class="fas fa-download fa-sm text-white-50"></i> Télécharger l'attestation de sortie</a>
</div> -->
<h4>Statistique en France</h4>
<hr>

<div class="row">

  <!-- Personnes gueris dans le monde -->
  <div class="col-xl-3 col-md- mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class= "font-weight-bold text-success text-uppercase mb-1">Guéris</div>
            <div id="recoveredCountry" class="h3 mb-0 font-weight-bold text-gray-800"><i class="fas fa-spinner fa-pulse"></i></div>
          </div>
          <div class="col-auto">
            <i class="far fa-smile-beam fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Personnes morte dans le monde -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="font-weight-bold text-danger text-uppercase mb-1">Morts</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div id="deadCountry" class="h3 mb-0 mr-3 font-weight-bold text-gray-800"><i class="fas fa-spinner fa-pulse"></i></div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-skull-crossbones fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Personnes atteinte du virus dans le monde -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="font-weight-bold text-warning text-uppercase mb-1">Personnes atteinte</div>
            <div id="casesCountry" class="h3 mb-0 font-weight-bold text-gray-800"><i class="fas fa-spinner fa-pulse"></i></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clinic-medical fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PV -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="font-weight-bold text-primary text-uppercase mb-1">Verbalisé pour non-respect du confinement</div>
            <div id="pvFrance" class="h3 mb-0 font-weight-bold text-gray-800"><i class="fas fa-spinner fa-pulse"></i></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-shield-alt fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">

  <div class="alert alert-dark shadow col-lg-10 offset-lg-1 text-center ">
    <a class="btn btn-danger btn-lg shadow" href="/confinement" target="_blank">
      Avez-vous le COVID-19 ?
      <i class="fas fa-user-nurse"></i>
    </a>
    <br /><br />
    <h5>Répondez à ce questionnaire pour savoir si vous avez le Covid-19 et vous faire suivre par notre équipe volontaire d'etudiant en médecine</h5>
  
  </div>

</div>

<!-- CONFINEMENT -->
<div class="row">
  <button class="btn btn-primary btn-lg shadow col-lg-10 offset-lg-1" data-toggle="modal" data-target="#confinementModal">
    <i class="fas fa-exclamation-triangle"></i>
    Règles du confinement
    <i class="fas fa-exclamation-triangle"></i>
  </button>

</div>

<hr>
<div class="row">

  <div class="alert alert-success shadow col-lg-10 offset-lg-1">
    <h2 class="text-center">Livraisons</h2>
    <hr>
    <h5 class="text-center">La vente à emporter est toujours autorisé, de ce fais plusieurs restuarant reste ouverte.</h5>
    <h4 class="text-center">Vous pouvez également commander sur ... (PUB !)</h4>
  
  </div>

</div>

<!-- END CONFINEMENT -->
<hr>
<h4>Statistique Mondial</h4>
<hr>
<!-- Content Row -->
<div class="row">

  <!-- Personnes gueris dans le monde -->
  <div class="col-xl-4 col-md- mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class= "font-weight-bold text-success text-uppercase mb-1">Guéris dans le monde</div>
            <div id="recoveredWorld" class="h3 mb-0 font-weight-bold text-gray-800"><i class="fas fa-spinner fa-pulse"></i></div>
          </div>
          <div class="col-auto">
            <i class="far fa-smile-beam fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Personnes morte dans le monde -->
  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="font-weight-bold text-danger text-uppercase mb-1">Morts dans le monde</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div id="deadWorld" class="h3 mb-0 mr-3 font-weight-bold text-gray-800"><i class="fas fa-spinner fa-pulse"></i></div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-skull-crossbones fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Personnes atteinte du virus dans le monde -->
  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="font-weight-bold text-warning text-uppercase mb-1">Personnes atteinte</div>
            <div id="casesWorld" class="h3 mb-0 font-weight-bold text-gray-800"><i class="fas fa-spinner fa-pulse"></i></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clinic-medical fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger shadow text-center">
  <h2 >Don de sang</h2>
  <hr>
  <h5>Les citoyens sont <strong>AUTORISES</strong> à se déplacer pour aller <strong class="text-danger">donner leur sang</strong> sur les sites de collecte de l'EFS</h5>
  <a href="https://dondesang.efs.sante.fr/" target="_blank" class="btn btn-dark btn-lg">Se renseigner</a>
</div>

<hr>

<div class="row">
  <div id="news" class="alert alert-info shadow col-lg-5">
    <h5 class="text-center">Actualités en Live</h5>
    <hr>
    <h2 class="text-center">
      <a class="btn btn-dark btn-lg" target="_blank" href="https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6" role="button" target="_blank">Live Le monde</a>
    </h2>

    <h2 class="text-center">
      <a class="btn btn-primary btn-lg" target="_blank" href="https://www.20minutes.fr/sante/2742683-20200318-coronavirus-direct-deuxieme-jour-confinement-total-commence-france" role="button">Live 20 minutes</a>
    </h2>

  </div>
  <div id="maps" class="alert alert-warning shadow col-lg-5 offset-lg-2">
    <h5 class="text-center">Carte intéractive</h5>
    <hr>
    <h2 class="text-center">
      <a class="btn btn-warning btn-lg" target="_blank" href="https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6" role="button">Carte intéractive COVID-19 MONDIAL</a>
    </h2>

    <h2 class="text-center">
      <a class="btn btn-primary btn-lg" target="_blank" href="https://mapthenews.maps.arcgis.com/apps/opsdashboard/index.html#/5e09dff7cb434fb194e22261689e2887" role="button">Carte intéractive COVID-19 FRANCE</a>
    </h2>
  </div>
</div>
<!-- Content Row -->
<div class="row text-center">
  
</div>

<link rel="stylesheet" href="css/flipclock.css">
<script src="js/flipclock.min.js"></script>